<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - DSCE </title>
    {% endblock %}
  </head>
  <body>
    <center>
      <div id="content">{% block content %}{% endblock %}</div>
    </center>
    <style>
      #footer {
          position: fixed;
          padding: 10px 10px 0px 10px;
          bottom: 0;
          width: 100%;
          /* Height of the footer*/ 
          height: 40px;
          background: grey;
      }
  </style>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2022 by <a href="http://mashhoodalam.webs.com">Mashhood</a>.
      {% endblock %}
    </div>
  </body>
</html>