<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
    <title>{% block title %}{% endblock %} - DSCE </title>
  {% endblock %}
</head>
<body style="background-image: url(https://ohcampus.com/uploads/college/Dayananda-Sagar-College-of-447646423.jpg); background-size: cover;background-repeat: no-repeat;background-position: centre; position: relative;">
  <style>
    th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    /* tr:hover {background-color: white;}  */
    table{background-color: rgb(206, 204, 204);width: 50%;}
  </style>
    
  
  <center>
    <div id="content">{% block content %}{% endblock %}</div>
  </center>
  <style>
    #footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/ 
        height: 40px;
        background: grey;
    }
  </style>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2022 by <a href="http://mashhoodalam.webs.com">Mashhood</a>.
    {% endblock %}
  </div>
</body>
</html>
