{% extends "base.html" %}
{% block title %}
Control Pannel
{% endblock %}
{% block content %}
<body style="background-image: url(https://ohcampus.com/uploads/college/Dayananda-Sagar-College-of-447646423.jpg); background-size: cover;background-repeat: no-repeat;background-position: centre; position: relative;"></body>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<form action="#" method = 'POST'>    
    <table style="margin: auto; border: 3px solid black; background-color: white; padding: 60px; border-radius: 10px; margin-top: 70px; ;" >
        <tr>
            <td>
                <font size="5" color= "#000000" > Section :</font>
            </td>
            <td>
                <input type="text" name="section" placeholder="section" size="37">
            </td>
        </tr>
        <tr>
            <td>
                <font size="5" color= "#000000" > Semester</font>
            </td>
            <td>
                <select name="semester">
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                    <option value="4">4th</option>
                    <option value="5">5th</option>
                    <option value="6">6th</option>
                    <option value="7">7th</option>
                    <option value="8">8th</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="create section" style="box-sizing: border-box;background-color: green; size: 10;"/>
            </td>
        </tr>
    </table>
</form>
   

{% endblock %}
