{% extends "base.html" %}
{% block title %}Dayananda Sagar Institutions{% endblock %}
{% block head %}
  
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Welcome to College CourseWare !!</h1>
  
    
    <tr>
      <td style = "text-align:center;padding:2px;border-spacing: 20px;">
        <form action="/teacherlogin" class="inline">
          <button class="float-left submit-button" n><font size = "10" >Teacher login</font></button>
        </form>
      </td>
      
    </tr>
    <br>
    <tr>
      <td style = "text-align:center">
        <form action="/studentlogin" class="inline">
          <button class="float-left submit-button" ><font size = "10">Student login</font></button>
        </form>
      </td>
    </tr>
    <br>
    <tr>
      <td style = "text-align:center">
        <form action="/controllogin" class="inline">
          <button class="float-left submit-button" ><font size = "10">Admin</font></button>
        </form>
      </td>
    </tr>
    
   
    
  
          
{% endblock %}