{% extends "base.html" %}
{% block title %}
Control Pannel
{% endblock %}
{% block content %}
<form action = "#" method = "POST">
    <table>
        <tr>
            <td>
                Enter New Password
            </td>
            <td>
                <input type="password" name="password" placeholder="enter password" size="20">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="create section"/>
            </td>
        </tr>
    </table>
</form>
   
{% endblock %}