{% extends "base.html" %}
{% block title %} Student login {% endblock %}
{%block head %}
<style type="text/css">
    .important { color: #336699; }
</style>
{% endblock %}
{% block content %}
<br>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <form action="#" method = 'POST'>    
        <table>
            <tr>
                <td>
                <font size="5" color= "#000000" > USN:</font>
                </td>
                <td>
                <input type="text" name="USN" placeholder="Enter USN" size="47">
                </td>
            </tr>
            <tr>
                <td>
                    <font size="5" color="#000000"> Password:</font>
                </td>
                <td>
                    <input type="Password" name="Password" size="47" placeholder="Enter Password">
                </td>
    
            </tr>
        </table>    
        <tr>
            <td>
                <input type="submit" style= "font-size: larger;" value="sign-in"/> 
            
            </td>
       
        </tr>  
    </form>
    <br>
        <form action="/signup" class="inline">
            <button class="float-left submit-button" ><font size = "10">Signup</font></button>
        </form>



{% endblock %}
