{% extends "base.html" %}
{% block title %} Welcome, {{name}} {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Classes</h1>

  <table name = "Classes" style = "border:1px solid black; width: 50%" center = "True">
  <tr>
    <th 
      Sr.No
    </th>
    <th>
      Link
    </th>
    <th>
      Time
    </th>
    <th>
      Course Code
    </th>
    <th>
      Department
    </th>
  </tr>
  {% for i in range(class_len) %}
  <tr>
    <td>
      {{ i+1 }}
    </td>
    <td>
      <a href="{{ classes[i][2] }}">Link</a>
    </td>
    <td>
      {{ classes[i][3].strftime("%H:%M") }}
    </td>
    <td>
      {{ classes[i][4] }}
    </td>
    <td>
      {{ classes[i][5]}}
    </td>
  </tr>
  {% endfor %}
  </table>
  <table name = "Classes" style = "border:1px solid black; width: 50%" center = "True">
    <tr>
      <th> 
        Sr.No
      </th>
      <th>
        Course Code
      </th>
      <th>
        Semester
      </th>
      <th>
        CIE 1
      </th>
      <th>
        CIE 2
      </th>
      <th>
        CIE 3
      </th>
      <th>
        AAT
      </th>
      <th>
        SEE
      </th>
    </tr>
    {% for i in range(grade_len) %}
    <tr>
      <td>
        {{ i+1 }}
      </td>
      <td>
        {{ grades[i][0] }}
      </td>
      <td>
        {{ grades[i][1] }}
      </td>
      <td>
        {{ grades[i][2] }}
      </td>
      <td>
        {{ grades[i][3] }}
      </td>
      <td>
        {{ grades[i][4] }}
      </td>
      <td>
        {{ grades[i][5] }}
      </td>
      <td>
        {{ grades[i][6] }}
      </td>
    </tr>
    {% endfor %}
    </table>
  <br>
  <br>
  <br>
  <form action="/logout" class="inline">
    <button class="float-left submit-button" >logout</button>
  </form>
          
{% endblock %}