{% extends "base.html" %}
{% block title %}Welcome {{name}} {% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>
Upcoming Classes
</h1>
<table name = "Classes" style = "border:1px solid black" center = "True">
  <tr>
    <th>
      Sr.No
    </th>
    <th>
      Sections
    </th>
    <th>
      Course Code
    </th>
    <th>
      Link
    </th>
    <th>
      Time
    </th>
  </tr>
  {% for i in range(class_len) %}
  <tr>
    <td>
      {{ i+1 }}
    </td>
    <td>
      {{ classes[i][0] }}
    </td>
    <td>
      {{ classes[i][1] }}
    </td>
    <td>
      <a href="{{ classes[i][2] }}">Link</a>
    </td>
    <td>
      {{ classes[i][3].strftime("%H:%M") }}
    </td>
  </tr>
  {% endfor %}
  </table>


<form action="/schedule" class="inline">
  <button class="float-left submit-button" >Schedule Classes</button>
</form>
<form action="/grades" class="inline">
  <button class="float-left submit-button" >Update Grades</button>
</form>

<form action="/update" class="inline">
  <button class="float-left submit-button" >Add section</button>
</form>
<form action="/attendence" class="inline">
  <button class="float-left submit-button" >Add Attendance</button>
</form>
<form action="/logout" class="inline">
  <button class="float-left submit-button" >logout</button>
</form>

{% endblock %}